language: go

go:
  - "1.13"

env:
  - GO111MODULE=on

script:
  - go fmt ./... && [[ -z `git status -s` ]]
  - go mod vendor && cd transport && go test -v client_test.go server_test.go session.go client.go connection.go const.go getty.go server.go options.go logger.go
